
:root {
    --color1: #050505;
    --color2: #FDFDFD;
  }



.nav {
    background-color:var(--color1);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.nav img {
    width: 8%;
}


ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    margin-right: 1rem;
    font-size: 1.2rem;
    
}

a {
    text-decoration: none;
    color: var(--color2);
}